<script src="dist/index.js"></script>

<h1>Test Page</h1>

<p>To show console.</p>

<p>On Chrome - press: <tt>Ctrl + Shift + I</tt></p>

<p>On Safari - press: <tt>Alt + CMD + C</tt>
(Safari -> Preferences -> Advanced -> Show Develop menu in menu bar)</p>


